In [1]:
import pandas as pd

Import all the files

In [5]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
                   
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

Step 1: Inspect the DataFrames using `print` and `head`

In [6]:
print(visits.head(5))
print(cart.head(5))
print(checkout.head(5))
print(purchase.head(5))

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

In [26]:
cart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    348 non-null    object
 1   cart_time  348 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 5.6+ KB

Step 2: Left merging visits and cart

In [14]:
visits_cart = pd.merge(
    visits,
    cart,
    how = 'left'
    )
visits_cart

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT
...,...,...,...
1995,33913ac2-03da-45ae-8fc3-fea39df827c6,2017-03-25 03:29:00,NaT
1996,4f850132-b99d-4623-80e6-6e61d003577e,2017-01-08 09:57:00,NaT
1997,f0830b9b-1f5c-4e74-b63d-3f847cc6ce70,2017-09-07 12:56:00,NaT
1998,b01bffa7-63ba-4cd3-9d93-eb1477c23831,2017-07-20 04:37:00,NaT
1999,0336ca81-8d68-443f-9248-ac0b8ad147d5,2017-11-15 10:11:00,NaT

Step 3: How long is `visits_cart`?

In [32]:
visitors = len(visits_cart)
visitors

2000

Step 4: How many timestamps are null for `cart_time`?

In [25]:
no_cart_time = visits_cart[visits_cart.cart_time.isnull()]
no_cart_time.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1652 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     1652 non-null   object
 1   visit_time  1652 non-null   datetime64[ns]
 2   cart_time   0 non-null      datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 51.6+ KB

or

In [51]:
not_carted = visits_cart[visits_cart.cart_time.isnull()].user_id.count()
not_carted

1652

Step 5: What percentage only visited?

In [52]:
step_5 = float(not_carted)/float(visitors)

Step 6: What percentage placed a t-shirt in their cart but did not checkout?

In [34]:
cart.info()
checkout.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    348 non-null    object
 1   cart_time  348 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 5.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   user_id        226 non-null    object
 1   checkout_time  226 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 3.7+ KB

Left-merge for the cart DataFrame

In [36]:
cart_checkout = pd.merge(
    cart,
    checkout,
    how='left'
    )
cart_checkout

,user_id,cart_time,checkout_time
0,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:14:00
1,4397f73f-1da3-4ab3-91af-762792e25973,2017-05-27 01:35:00,NaT
2,a9db3d4b-0a0a-4398-a55a-ebb2c7adf663,2017-03-04 10:38:00,2017-03-04 11:04:00
3,b594862a-36c5-47d5-b818-6e9512b939b3,2017-09-27 08:22:00,2017-09-27 08:26:00
4,a68a16e2-94f0-4ce8-8ce3-784af0bbb974,2017-07-26 15:48:00,NaT
...,...,...,...
343,952be3a5-9240-484f-845c-a6b2cbed72ee,2017-05-02 05:40:00,2017-05-02 05:50:00
344,59d2b685-383a-4fce-a325-35d985713a8b,2017-01-20 03:58:00,NaT
345,a1203970-92ae-4fc7-843e-e1740c1be9d5,2017-11-12 23:07:00,NaT
346,55de53ae-89f6-43ff-a26d-df284678aca1,2017-03-17 19:56:00,2017-03-17 20:04:00
347,0ea4cc68-dae4-4e35-b3e0-f0889932e1b5,2017-05-12 08:53:00,2017-05-12 08:57:00

In [66]:
step_6 = float(cart_checkout[cart_checkout.checkout_time.isnull()].user_id.count())/float(len(cart_checkout))

Step 7: Merge it all together

In [41]:
all_data = pd.merge(visits, cart, how='left') \
    .merge(checkout, how='left') \
    .merge(purchase, how='left')

all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2108 entries, 0 to 2107
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   user_id        2108 non-null   object
 1   visit_time     2108 non-null   datetime64[ns]
 2   cart_time      456 non-null    datetime64[ns]
 3   checkout_time  334 non-null    datetime64[ns]
 4   purchase_time  252 non-null    datetime64[ns]
dtypes: datetime64[ns](4), object(1)
memory usage: 98.8+ KB

Step 8: % of users who got to checkout but did not purchase

In [110]:
step_8 = float(all_data[
            (~all_data.checkout_time.isnull() & all_data.purchase_time.isnull())
            ].user_id.count()) \
    /float(all_data[~all_data.checkout_time.isnull()].user_id.count())

In [111]:
float(all_data[~all_data.checkout_time.isnull()].user_id.count())

334.0

In [112]:
float(all_data[
            (~all_data.checkout_time.isnull() & all_data.purchase_time.isnull())
            ].user_id.count())

82.0

Step 9: check each part of the funnel, let's print all 3 of them again

In [113]:
print('Visited but not carted: ' ,step_5,'\n',
    'Carted but not checkout: ', step_6, '\n',
    'Checkout but not purchased: ', step_8)

Visited but not carted:  0.826
 Carted but not checkout:  0.3505747126436782
 Checkout but not purchased:  0.24550898203592814

*The weakest part of the funnel is clearly getting a person who visited the site to add a tshirt to their cart. Once they've added a t-shirt to their cart it is fairly likely they end up purchasing it. A suggestion could be to make the add-to-cart button more prominent on the front page.*


Step 10: adding new column

In [92]:
all_data['time_to_purchase'] = all_data.purchase_time - all_data.visit_time

Step 11: examine the results

In [93]:
all_data.head()

,user_id,visit_time,cart_time,checkout_time,purchase_time,diff,time_to_purchase
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00,0 days 00:44:00,0 days 00:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT,NaT,NaT

Step 12: average time to purchase

In [96]:
all_data.time_to_purchase.mean()

Timedelta('0 days 00:43:12.380952380')

In [107]:
pieces = all_data.time_to_purchase.count()
pieces

252

In [100]:
summa = all_data.time_to_purchase.sum()

In [108]:
summa / float(pieces)

Timedelta('0 days 00:43:12.380952380')

In [105]:
all_data.time_to_purchase.describe()

count                          252
mean     0 days 00:43:12.380952380
std      0 days 00:14:42.168126436
min                0 days 00:09:00
25%                0 days 00:32:00
50%                0 days 00:44:30
75%                0 days 00:54:00
max                0 days 01:17:00
Name: time_to_purchase, dtype: object